#quiz-container {
    font-family: 'Arial', sans-serif;
    background-color: #f9f5f2;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#optionsQuiz {
    align-items: flex-start;
}

#buttonsQuiz {
    /* margin-top: 3rem; */
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#modal-content {
    width: 70%;
    max-width: 500px;
    background-color: #fff;
    color: #333;
    border-radius: 1rem;
    padding: 2rem;
    margin: 15vh auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#modal-content p {
    margin-bottom: 2rem;
}

#modalButtonContent {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#question-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    text-align: center;
}